<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="utf-8">
    
    <link type="text/css" rel="stylesheet" href="css/styleHome.css">
    
    <title>Menu principal</title>
  </head>
  <body>
  <div class="container">
  	<div class="mt-5 row justify-content-center">
      <div class="col-5">
        <a th:href="@{inscription}" class="waves-effect waves-light btn-large"><i class="material-icons left">cake</i>Inscription</a>
      </div>
      <div class="col-5">
        <a th:href="@{connexion}" class="waves-effect waves-light btn-large"><i class="material-icons left">local_florist</i>Connexion</a>
      </div>
    </div>
  </div>
    
  </body>
</html>
