<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Limite Limite</title>
    <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.css"> -->
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <!-- <div id="pluieDeChat">
      <img id="chat1" src="chat/chat1.png" alt="">
      <img id="chat2" src="chat/chat2.png" alt="">
      <img id="chat3" src="chat/chat3.jpg" alt="">
      <img id="chat4" src="chat/chat4.jpg" alt="">
      <img id="chat4" src="chat/chat5.jpg" alt="">
    </div> -->

    <div class="container">

      <header class="justify-content-around" id="header">

        <div class="row p-3 x-content-around">


          <div class="col-md-3 col-sm-12">
              <img src="images/woolly-mc.png" alt="" class="img-fluid">
          </div>

          <div class="col-md-6 col-sm-12 align-self-center">
              <h2>Inscription</h2>
          </div>

          <div class="col-md-3 d-none d-md-block">
            <img src="images/woolly-mc.png" alt="" class="img-fluid">
          </div>

        </div>

      </header>

      <div id="erreur">
      </div>

      <section class="mb-3 pt-2 pb-2 formulaire">

        <div class="row justify-content-center">

          <form class="w-100" method="post">

            <div class="row justify-content-center">
              <input class="mt-2 mb-2 input col-10" type="text" name="email" id="email" placeholder="Entrez votre mail">
            </div>

            <div class="row justify-content-center">
              <input class="mt-2 mb-2 input col-10" type="text" name="username" id="username" placeholder="Entrez votre login">
            </div>

            <div class="row justify-content-center">
              <input class="mt-2 mb-2 input col-10" type="password" name="password" id="password1" placeholder="Entrez votre mot de passe">
            </div>

            <div class="row justify-content-center">
              <input class="mt-2 mb-2 input col-10" type="password" name="password" id="password2" placeholder="Confirmez votre mot de passe">
            </div>

            <div class="row justify-content-center ok">
              <input id="bouton" class="fs-3vh-r-valider mt-2 mb-2 input col-md-3 col-xs-6" type="submit" name="" value="Valider">
            </div>

          </form>

        </div>

      </section>

      <ul class="w-100 row justify-content-around">
        <button class="fs-3vh-r w-25"><a href="login2.html">Connexion</a></button>
        <button class="fs-3vh-r w-25"><a href="#">Rappel mot de passe</a></button>
      </ul>

      <footer>

      </footer>


    </div>

    <script type="text/javascript" src="js/javascript-inscription.js"></script>
  </body>
</html>